Language: Cpp
BasedOnStyle: llvm
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -4
UseTab: Never
ColumnLimit: 100
SortIncludes: false
KeepEmptyLinesAtTheStartOfBlocks: false
DerivePointerAlignment: false
PointerAlignment: Right
BreakBeforeBraces: Allman
NamespaceIndentation: All
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
BinPackArguments: false
BinPackParameters: false
PackConstructorInitializers: NextLine
AlignArrayOfStructures: Left
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowAllArgumentsOnNextLine: false
Cpp11BracedListStyle: false