root = true

end_of_line = lf

# All files
[*]
indent_style = space

# Xml files
[*.xml]
indent_size = 4

[*.cpp]
indent_size = 4
cpp_space_pointer_reference_alignment = right

[*.h]
indent_size = 4
cpp_space_pointer_reference_alignment = right